@import '__normalize.scss';
@import '__fonts.scss';
@import '__styles.scss';

.card {
  position: relative;
  padding-top: 35px;
}

.card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;

}

.card__content {
  background: var(--white);
  padding: 48px 8px 8px;
  border-radius: 16px;
}

.card__title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--dark);
}

.card__info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: var(--beige);
  margin-bottom: 4px;
}

.card__price {
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 16px;
}

.card__add-to-cart {
font-size: 14px;
color: var(--orange);
border-radius: 32px;
padding: 8px 24px;
width: 100%;
background: var(--light);
padding: 8px 24px;
border-radius: 32px;
}