@import '__normalize.scss';
@import '__fonts.scss';
@import '__styles.scss';

.card {
  position: relative;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include media-query('tablet') {
    padding-top: 46px;
  }
}

.card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;

  @include media-query('tablet') {
    width: 180px;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: 48px 8px 8px;
  border-radius: 16px;
  flex-grow: 1;

  @include media-query('tablet') {
    border-radius: 32px;
    padding: 146px 24px 24px;
  }
}

.card__title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 4px;
  flex-grow: 1;

  @include media-query('tablet') {
    font-size: 24px;
  }
}

.card__info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: var(--beige);
  margin-bottom: 16px;

  @include media-query('tablet') {
    gap: 8px;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.card__price {
  font-weight: 600;
  color: var(--dark);
}

.card__add-to-cart {
  display: block;
  width: 100%;
  padding: 8px 24px;
  border-radius: 32px;
  font-size: 14px;
  color: var(--orange);
  background: var(--light);
  margin-top: auto;

  @include media-query('tablet') {
    font-size: 20px;
  }
}