@import '__normalize.scss';
@import '__fonts.scss';
@import '__styles.scss';


.header {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  z-index: 5;
  @include media-query('tablet') {
    top: 40px
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__logo {
  width: 120px;
  @include media-query('tablet') {
    width: 164px;
  }
}

.header__cart {
  color: var(--dark);
  &:hover {
    color: var(--orange);
  }
}

