@import '__normalize.scss';
@import '__fonts.scss';
@import '__styles.scss';

.modal {
  position: fixed;
  inset: 0;
  background: rgba($dark, 0.89);
  z-index: 45;
  cursor: pointer;

  overflow-y: auto;
  padding: 30px 14px;
  display: flex;
  display: none;

  &__main {
    position: relative;
    cursor: default;
    margin: auto;
    background: var(--white);
    border-radius: 32px;
    @include media-query('tablet') {
      padding: 24px;
    }
  }
  
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}