@import "__normalize.scss";
@import "__fonts.scss";
@import "__styles.scss";

.pizza {
  padding: 24px 0;
  @include media-query("tablet") {
    padding: 64px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    color: var(--dark);
    margin-bottom: 24px;
    @include media-query("tablet") {
      font-size: 44px;
    }
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
    @include media-query("tablet") {
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 16px;
    }
    @include media-query("desktop") {
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-flow: column wrap;
  }

  &__card {
    flex-grow: 1;
  }

  &__reset-toppings {
    border-radius: 32px;
    padding: 8px 24px;
    background: var(--orange);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: var(--white);
    border: 1px solid transparent;
    outline: none;
    &:hover {
      background: var(--orange-light);
      color: var(--white);
    }
    &:focus-visible {
      background: var(--white);
      border-color: #b66200;
      color: var(--orange);
    }
    &:active {
      opacity: 0.5;
      background: var(--white);
      color: var(--orange);
    }
    @include media-query("tablet") {
      font-size: 20px;
    }
  }
}
